body {
    background-color: #FFFFF0;
 }

 p {
    position: relative;
    left: 10px;
 }

 .header {
   margin-bottom: 10px;;
 }

 .base-political {
    margin-bottom: 10px;

 }

 .new-universe {
    margin-bottom: 10px;
 }

 .next {
   
 }

 h1,
 h3 {
    text-align: center;
    font-family: Georgia;
 }
